body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 3.12rem auto 0 auto;
  font-family: "Montserrat", sans-serif;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #e4f9f5;
  /*height: 200px;
  width: 200;*/
  position: relative;
  padding-top: 100px;
}
.Hname {
  font-family: "Sacramento", cursive;
}
.sub-heading {
  font-weight: normal;
}
#pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profile-img {
    border-radius: 60px;
}
.profile-img:hover {
  border-radius: 100px;
}
.bio {
  width: 30%;
  margin: auto;
  color: #40514e;
}
hr {
  margin: 100px auto;
  border: dotted #eaf6f6 6px ;
  border-bottom: none;
  width: 4%;
  background-color: inherit;
  border-width: 10px;
}
.skills {
}
.html-img {
  width: 25%;
  float: left;
  margin: 30px;
}
.css-img {
  width: 25%;
  float: right;
  margin: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.middle-container {
  padding: 100px 0;
}
.bottom-container {
  line-height: 2;
  padding: 50px 0 20px;
  background-color: #66bfbf;
}
.contact-me {
  
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  padding: 10px 20px;
  letter-spacing: 2;
  border-radius: 8px;
  background-image: linear-gradient(to bottom,#11cdd4, #11999e);
  color: white;
}
.btn:hover{
  background-image: linear-gradient(to bottom ,#30e3cb, #2bc4ed);
}
a {
  margin: 10px 20px ;
  font-weight: bold;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #135457;
}
.footer-copyright {
  color: #eaf6f6;
}
p{
  line-height: 2;
}
